body{
  background-color:#ebeae6;
}

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  border: none;
}

.container {
  
  &__text {
    line-height: 70px;
    text-align: center;
  }
}

.navbar{
  @media (max-width: 500px)
  {
    flex-direction: column;
  }
  background-color:rgb(54,54,54);
  display: flex;
  justify-content: center;
  margin: 0px;
  border: none;
  padding: 0;

  &__link{
    color:white;
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
  }
}

.mid-part {
  display: flex;
  @media (max-width: 900px ){
    flex-direction: column;
    
  }
}

.block {
  flex-grow: 1;
  @media (max-width: 900px) {
    margin: auto;
   }

  &__image {
    @media (max-width: 900px) {
     margin: auto;
     padding-left: 0px;
    }
    @media (max-width: 600px) {
      width: 300px;
    }
    @media (max-width: 900px) {
      justify-content: center;
      margin: auto;
    }
  }

  &__img-wrapper {
    
    padding-left: 80px;
    @media (max-width: 900px) {
      padding-left: 0px;
    }

  }

  &__title-wrapper {
    padding-top: 70px;
  }

  &__title {
    @media (max-width: 600 px) {
      font-size: 10px;
    }
    text-align: center;
    line-height: 60px;
    width: 45%;
    margin: auto;
  }

  &__button {
    width: 189px;
    height: 38px;
    margin: auto;
    display: block;
  }
}

.button {
  background-color: rgb(211, 158, 12);
  color: #fff;
  border-radius: 5px;
  margin-bottom: 4%;;
}

.footer {
  height: 200px;
  background-color: rgb(16, 2, 41);

  &__title {
    color: #fff;
    text-align: center;
    line-height: 56px;
    padding-top: 54px;
  }

  &__button {
    width: 30%;
    height: 28px;
    margin: auto;
    display: block;
    @media (max-width: 850px) {
      font-size: 10px;
      width: 195px;
    }
  }
}